crewai>=0.86.0
crewai_tools>=0.25.8
langchain>=0.1.7
langchain-core>=0.1.22
langchain-community>=0.0.20
langchain-ollama>=0.1.1
pydantic>=2.5.2
requests>=2.31.0
termcolor>=2.3.0
python-dotenv>=1.0.0
ollama>=0.1.6
duckduckgo-search>=4.1.1
typing-extensions>=4.8.0
httpx>=0.25.0
openai>=1.7.1
beautifulsoup4>=4.12.3
PyYAML>=6.0.1
tenacity>=8.1.0
